extends layout
block content
  #calander
    // Modal Code from the creating tasks
  div#fullCalModal.modal.fade(tabindex=-1 role=dialog aria-hidden=true)
    .modal-dialog.modal-sm
      .modal-content
        form#task-form(method='POST' action='/createtask')
          .modal-header
            button.close(type='button', data-dismiss='modal' aria-hidden=true)
              span(aria-hidden='true') ×
              span.sr-only close
            h4.modal-title Task
          #modalBody.modal-body
            div.form-group.label-floating
              label.control-label(for='name') Task Name:
              input#task_name.form-control(type="text", name="name" required)
            div.form-group.label-floating
              label.control-label(for='description') Task Description:
              textarea#desc.form-control(type='text' name='description')
            div.form-group.label-floating
              label.control-label(for='pid') Project:
              select#pid.form-control(name='pid' required)
                option(value="") Select Project
                for project in projects
                  option(value=project.id) #{project.name}
            .row
              div.form-group.col-sm-6.label-floating
                label.control-label(for='sdate') Start Date:
                input#sdate.datepicker.form-control(type='text', placeholder='Start Date' name='sdate' readonly="readonly" )
              div.form-group.col-sm-6.label-floating
                label.control-label(for='edate') End Date:
                input#edate.datepicker.form-control(type='text', placeholder='End Date' name='edate' readonly="readonly" )
            div.form-group.label-floating
              label.control-label(for='user') Assign User:
              input#user.form-control(type='text' disabled)
            div.form-group
              input#uid.form-control(type='hidden' name='uid')
          .modal-footer
            button.btn.btn-info(type='submit') Save
            button.btn.btn-default(type='button', data-dismiss='modal') Close
